# ----------------------------------------------------------------------------
# Ignore converted image formats
# ----------------------------------------------------------------------------
*converted-to.*
